/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --light-purple: #4E49B9;
    --dark-purple: #3B3790;
    --whatsapp-contacts: #3E399D;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.textsize20 {
    font-size: 1.3020833333333333vw;
    font-weight: 600;
    line-height: 30px;
}

.textsize14 {
    font-size: 0.9114583333333334vw;
    font-weight: 500;
    line-height: 21px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-purple);
    padding: 3.375694444444444% 13.75% 3.819444444444444% 8.402777777777778%;
    gap: 35px 55px;
    color: white;
}

#footer-sections-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#footer-strong-line {
    height: 33px;
    width: 100%;
    background-color: var(--dark-purple);
    color: white;
    text-align: center;
    padding: 8px 0px 7px 0px;
    line-height: 18px;
    font-size: 12px;
}

#footer-adress-media-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 4.583333333333333%;
}

#footer-adress-media-section-adress-container {
    margin: 17px 0px 37px 0px;
}

#footer-adress-media-section-social-text {
    margin: 5px 0px 10px 0px;
}

#footer-adress-media-section-media-icons {
    display: flex;
    gap: 17.14px 15.82px;
}

#footer-adress-media-section-media-icons img {
    width: 29px;
    height: 29px;
}

#footer-payment-methods-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 17px;
    margin-right: 7.361111111111111%;
}

#footer-contact-section {
    margin-right: 1.25%;

}

.footer-contact-section-whatsapp-contacts {
    margin: 8px 0px 16px 0px;
    background-color: var(--dark-purple);
    border-radius: 35px;
    display: flex;
    align-items: center;
    width: 74.9%;
}

.footer-contact-section-whatsapp-contacts::before {
    content: "";
    display: block;
    width: 1.2vw;
    height: 1.2vw;
    background-image: url(../assets/footer/whatsapp-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8.75px 6.72px 8.64px 10.75px;
}

#footer-contact-section-emails {
    margin-top: 6px;
}

#footer-our-app-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#footer-our-app-section-title {
    margin-bottom: 17px;
}

#footer-our-app-section img {
    margin-bottom: 7px;
}