/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Colors */
:root {
    --text-color: #000000;
    --button-color: #4E49B9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

/* LOGIN POPUP */
/* Essa popup tem estado inicial escondido com a classe login-popup--hidden */

#login-popup {
    width: 100%;
    height: 100vh;
    padding: 120px 38px 0px 39px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
    background-color: white;
    z-index: 1000;
}

#login-popup-x-icon {
    position: absolute;
    top: 22px;
    right: 22px;
}

#login-popup-x-icon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#login-popup-title {
    line-height: 33px;
    margin: 33.98px 0px 10px 0px;
    font-size: 22px;
    font-weight: 600;
}

.login-popup-text-present {
    font-size: 14px;
    opacity: 50%;
}

#login-popup-login-button {
    margin: 62px 14px 14px 13px;
}

#login-popup-text-or {
    opacity: 70%;
}

#login-popup-register-button {
    margin: 14px 14px 48px 13px;
}

#login-popup-login-button a {
    text-decoration: none;
    color: white;
}

#login-popup-login-button a:active {
    color: white;
}


.popup-button {
    background-color: var(--button-color);
    color: white;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    padding: 14px 0px;
    border: none;
    width: 100%;
    border-radius: 8px;
}

.popup-button:hover {
    transform: scale(1.05);
}

#login-popup-text-socials {
    opacity: 80%;
}

#login-popup-social-media-icons-container {
    display: flex;
    gap: 45.33px 36px;
    align-items: center;
    margin-top: 17.67px;
}

/* REGISTER POPUP */
/* Essa popup tem estado inicial escondido com a classe register-popup--hidden */

#register-popup {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 16px 51px 16px;
    text-align: center;
    background-color: white;
    transition: all 1s ease;
    z-index: 1000;
    position: relative;
}

#register-popup-x-icon {
    position: absolute;
    top: 22px;
    right: 22px;
}

#register-popup-x-icon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#register-popup-title {
    line-height: 33px;
    margin: 33.98px 0px 34px 0px;
    font-size: 22px;
    font-weight: 600;
}

#register-popup-inform-name {
    margin-left: 8px;
    text-align: left;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

#register-popup-inform-phone {
    margin-left: 8px;
    text-align: left;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 3px;
}

#register-popup input {
    width: 100%;
    padding: 14px 0px 14px 14px;
    border-radius: 8px;
    border: 1.5px solid var(--button-color);
    margin-bottom: 20px;
}

#register-popup-service-and-politcs-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 50%;  
    font-size: 15px;
}

#register-popup-service-and-politics-text a:active {
    color: black;
}

#register-popup-register-button {
    margin: 34px 14px 14px 13px;
}

.register-popup-links {
    color: black;
}

.register-popup-links:active {
    color: black;
}

/* ADD TO CART POPUP */
/* Essa popup tem estado inicial escondido com a classe add to cart-popup--hidden */

#add-to-cart-popup {
    width: 432px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 52px 50px 52px;
    text-align: center;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1000;
    background-color: white;
    transition: all 1s ease;
}

.add-to-cart-popup-x-icon {
    position: absolute;
    top: 22px;
    right: 22px; 
}

#added-to-cart {
    width:0%;
    transition: all 0.5s ease-in;
}

#add-to-cart-popup-item {
    max-height: 245px;
}
.add-to-cart-product-title {
    font-size: 18px;
    text-align: left;
    line-height: 22.5px;
    margin-bottom: 5px;
    align-self: flex-start;
}

.add-to-cart-product-description {
    opacity: 50%;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 5px;
    text-align: left;
    align-self: flex-start;
}

.add-to-cart-product-price-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
    align-self: flex-start;
    margin-bottom: 54px;
}

.add-to-cart-product-old-price {
    color: red;
    opacity: 50%;
    text-decoration: line-through;
}

#add-to-cart-product-details-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #3B3790;
    align-self: flex-start;
    margin-bottom: 12px;
}

#add-to-cart-popup-service-and-politics-text-container {
    width: 100%;
    margin-bottom: 41px;
}

#add-to-cart-popup-service-and-politcs-text {
    font-size: 14px;
    opacity: 80%;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    text-align: left
}

#add-to-cart-popup-quantity-big-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#item-quantity-counter-container {
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F0F0;
    font-size: 16px;
}

.add-to-cart-popup-counter-button {
    background-color: #4E49B9;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 25px;
    width: 44px;
    height: 44px;
    transition: all 0.5s ease;
}

.add-to-cart-popup-counter-button:hover {
    background-color: #3f39af;
    transform: scale(1.05);
}


#add-to-cart-popup-add-to-cart-button {
    margin: 34px 14px 14px 13px;
}

.add-to-cart-popup-links {
    color: black;
}

.add-to-cart-popup-links:active {
    color: black;
}