/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');



main {
    padding: 0px 120px 70px 120px;
    font-family: 'Popins', sans-serif;
}

#banner-and-tag-carrossel {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 420px;
    position: relative;
    z-index: -99999;

}

#carrossel-tags-category-container {
    width: 100%;
    padding: 0;
    height: 45px;
    position: relative;
    bottom: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    margin: auto;
}


.carrossel-tags {
    overflow: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: grab;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0%;
    width: 100%;
    font-size: 1vw;
    background-color: white;
}



.carrossel-tags a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 41px;
    padding: 0.8% 1.6%;
    box-shadow: 0px 2px 8px 0px #00000014;
    text-decoration: none;
    color: black;
    font-weight: 500;
    align-items: center;
    margin: 1% 1%;

}

#tags a img {
    margin-right: 10.67px;
    height: 15px;
    width: 15px;
}

#tags a:hover {
    transform: scale(1.05);
}

.container-wrapper {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: flex-start;
    margin: 0;
    flex-wrap: wrap;
}

/* ITEM CARDS STYLE */
.section-titles {
    margin: 52px 0px 18px 0px;
    line-height: 48px;
    font-size: 32px;
}

.item-container {
    height: 254px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.item-card {
    border: 1px solid #E5E5E5;
    height: 254px;
    /* width: 13.88888888888889%; */
    width: 187px;
    /* width: 11vw; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 12px 25px 14px 25px;
    position: relative;
}

.add-to-cart {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    background-color: #4E49B9;
    color: white;
    border: none;
    border-radius: 8px;
}

.add-to-cart:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.product-image {
    height: 133px;
    margin-bottom: 21px;
}

.product-title {
    font-size: 12px;
    text-align: left;
    line-height: 15px;
    margin-bottom: 4px;
}

.product-description {
    opacity: 50%;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 4px;
    text-align: left;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.product-old-price {
    color: red;
    opacity: 50%;
    text-decoration: line-through;
}

/* SEE MORE BUTTON STYLE */
.see-more-button {
    color: #4E49B9;
    background-color: #F8F8F8;
    border-radius: 42px;
    border: none;
    padding: 12px 16px 12px 16px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
}

.see-more-button:hover {
    background-color: #e9e5f8;
}

/* SEE LESS BUTTON STYLE */
.see-less-button {
    color: #4E49B9;
    background-color: #F8F8F8;
    border-radius: 42px;
    border: none;
    padding: 12px 16px 12px 16px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
}

.see-less-button:hover {
    background-color: #e9e5f8;
}

/* DIV DE PROPAGANDAS */
#advertising-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin: 62px 0px 20px 0px;
    gap: 24px;
}

#advertising-container img {
    border-radius: 10px;
    width: 100%;
}

@media screen and (max-width: 650px) {
    #tags {
        flex-wrap: nowrap;
        overflow: scroll;
        font-size: 12px;
    }

    #tags::-webkit-scrollbar {
        display: none;
    }

    main {
        padding: 0px 5% 3% 5%;
    }

    .item-container {
        width: 100%;
        overflow: scroll;
    }

    .item-container::-webkit-scrollbar {
        display: none;
    }

    .container-wrapper {
        width: 300%;
        display: grid;
        grid-template-columns: auto auto auto;
    }


    .item-card {
        flex-direction: row;
        height: 85px;
        padding: 8px;
        margin-right: 14px;
    }

    #advertising-container {
        overflow: hidden;
    }

    .product-price-container {
        font-size: 12px;
        font-weight: 600;
        display: flex;
        gap: 10px;
        justify-content: space-around;
    }

    .product-title {
        font-size: 12px;
    }

    .text-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .popup-completarcadastro form {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .popup-completarcadastro form #div-wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 40px 16px;
    }

    #div-wrapper input {
        width: 90%
    }

    .popup-completarcadastro form #left-div {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    #nome {
        background-color: #E4E4E4 !important;
    }

    #telefone {
        background-color: #E4E4E4 !important;
    }

    #email {
        background-color: #ffffff !important;
    }

    .popup-completarcadastro form #right-div {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .popup-completarcadastro {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        background-color: #F2F2F6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .popup-completarcadastro::after {
        content: "";
        width: 20%;
        height: 4px;
        position: absolute;
        top: 10px;
        background-color: grey;
        border-radius: 10px;
    }

    .voltar-container {
        font-weight: 500 !important;
        font-size: 14px !important;
        display: flex !important;
        position: relative !important;
        align-items: center !important;
        top: 10px !important;
        margin-right: 20px !important;
        margin-left: 10px !important;
        font-weight: 500 !important;
        align-self: center !important;
    }

    .backnextbutton {
        display: flex !important;
        width: 100% !important;
        height: auto !important;
        align-items: center !important;
        position: absolute !important;
        bottom: 25px !important;
        padding: 0px 10px 0px 10px !important;
    }

    .next-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .voltar-container::before {
        content: "";
        display: block;
        width: 10px !important;
        height: 10px !important;
        background-image: url(../assets/main/Vector.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }




    .product-image {
        height: 90%;
        margin-right: 5px;
        padding: 0;
    }

    .add-to-cart {
        display: none;
    }

    #busca-mobile-container {
        height: 100%;
        background-color: white;
        position: absolute;
        width: 100%;

    }

    .busca-mobile {
        padding: 19px 16px;
        font-size: 14px;
        opacity: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #gender-box {
        width: 80% !important;
        justify-content: flex-start;
        padding-left: 10px;
    }

    label {
        margin-left: 5px;
    }

    #radio {
        width: auto !important;

    }

    #cadastro-save-button {
        width: 100% !important;
    }

    #cadastrobtn-container {
        width: 90%;
        margin:auto;
        position: relative;
        top: 30px;
    }

}